<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<title>Login</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light mb-3">
		<a class="navbar-brand" href="http://localhost:5000/">Apna Subreddit</a>
		<button onclick="location.href='http://localhost:5000/profile'" class="navbar-link ml-auto btn btn-outline-primary" >Your Profile</a>
	</nav>	
<div id="l_form">
	Username:</br>
	<input id="l_user" type="text" name="USERNAME" value="" required><br>
	Password:</br>
	<input id="l_password" type="Password" name="PASS" value="" required><br>

	<button type="button" onclick="LOGIN()">Login</button>
	
	<script src="/static/login.js"></script>	
</div>

</body>
</html>