<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Subreddit</title>
</head>
<body>
	<!-- <input id="post_id"/> -->
	<div class="form-group text-center">
		<label for="post_id" class="text-white">Create new post </label>
		<textarea rows="4" cols="40" id="post_id" class="form-control w-50 mx-auto"></textarea>
		<!-- <div class="col text-center mb-2"> -->
			<button id="post_btn" type="button" class="btn btn-primary text-center">Submit</button>
		<!-- </div> -->
	</div>
	<div id="all_post"></div>
	<script src="/static/subreddit.js"></script>
</body>
